<div class="button-grid">
    {{log model.buttons}}
  {{#each button in model.buttons}}
    <div class="button" {{action "buttonPress" button}}>
        <div {{bind-attr class="button.color"}}>

        </div>
    </div>
  {{/each}}
</div>
